<h1>Insurance#insurance_purchased</h1>
<%#= @user.email%> hi you purchased <%#= @company.company_name%>
<p>
  <%= @greeting %>, find me in app/views/insurance_mailer/insurance_purchased.html.erb
</p>
