<h1>PolicyPlease greets you!</h1>
<h2>hi!, your policy succesfully purchased!</h2>

<div class="container">
<h1 class="text-center">Invoice</h1>
<table class="table table-bordered border-primary invoice-table ">
    <thead>
        <tr>
          <th>Company</th>
          <th>Plan Info</th>
          <th>Cover</th>
          <th>Premium(Rs.)</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td><%= @company.company_name%></td>
        <td><%= @company.plan_info %></td>
        <td><%= @company.cover %></td>
        <td><%= @discount_price%></td>
    </tr>
    </tbody>
</table>
</div>


