<div class="container">
  
<%if current_user.companies.any?%>
<h1 class="text-center">Your Policies</h1>
  <div class="company-section">
    <%= render 'companies/companies'%>
  </div>
<%else%>
<h1 class="text-center">You have not bought any policy yet!!</h1>
<%end%>
</div>w