
<section class="container">
    <div class="home-content">
        <div class='row'>
            <div class="col-md-6"><p class="welcome-text">Let's find you<br>the<b> Best Insurance</b></p>
                <div class="row"> 
                    <div class="col-md-6 mt-3"><p class="mini-text-1"><i class="material-icons">all_inclusive</i>
                        </i>50+ insurers with one<br>of the best prices</p>
                    </div>
                    <div class="col-md-6 mt-3"><p class="mini-text-2"><i class="material-icons">alarm_on</i>
                    Quick, easy & <br>hassle free</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6"><div class="welcome-image"><div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="1000">
                    <%= image_tag("policy.jpeg",class: 'd-block w-100') %>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                    <%= image_tag("policy2.jpeg",class: 'd-block w-100') %>
                    </div>
                    <div class="carousel-item">
                    <%= image_tag("policy3.jpeg",class: 'd-block w-100') %>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                </button>
                </div>
                </div>
            </div>
        <div>
    <div>   
</section>

<section class="policies">
     <div class="row mt-5">
        <div class="col-lg-12 policy-please-divider">
            <div class="product-heading">
                <p>Available Policies<p>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <%= render "policies/policies"%>
    </div>
</section>
<section class="conatiner why-policy-please mt-4">
    <div class="row">
        <div class="col-lg-12 policy-please-divider">
            <div class="product-heading">
                <p>Why Policy<i>Please</i><p>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card home-cards">
          		<p class="countPoint">1</p>
		    	<div class="card-block p-2">
                    <p class="slider-heading pb-1 mb-0"><img src="https://cdn.policyx.com/images/trust.webp" class="img-fluid" alt="True" width="32" height="32"> Trust</p>
                    <p class="list-p">Recorded Lines - No Misselling - Know your Advisor</p>
                    <p class="list-p">IRDAI Approved - India's #1 Web Aggregator</p>
                    <p class="list-p">Google 4.5*+ Rating, 80%+ Repeat Customers</p>
		    	</div>
		    </div>
        </div>
        <div class="col-md-4">
            <div class="card home-cards">
          		<p class="countPoint">2</p>
		    	<div class="card-block p-2">
                    <p class="slider-heading pb-1 mb-0"><img src="https://cdn.policyx.com/images/product.webp" class="img-fluid" alt="Product" width="32" height="32"> Product</p>
                    <p class="list-p">card-section-second</p>
                    <p class="list-p">IRDAI Approved - India's #1 Web Aggregator</p>
                    <p class="list-p">Google 4.5*+ Rating, 80%+ Repeat Customers</p>
		    	</div>
		    </div>
        </div>
        <div class="col-md-4">
            <div class="card home-cards">
          		<p class="countPoint">3</p>
		    	<div class="card-block p-2">
                    <p class="slider-heading pb-1 mb-0"><img src="https://cdn.policyx.com/images/price.webp" class="img-fluid" alt="Price" width="32" height="32"> Price</p>
                    <p class="list-p">Recorded Lines - No Misselling - Know your Advisor</p>
                    <p class="list-p">IRDAI Approved - India's #1 Web Aggregator</p>
                    <p class="list-p">Google 4.5*+ Rating, 80%+ Repeat Customers</p>
		    	</div>
		    </div>
        </div>
    </div>

    <div class="row card-section-second">
        <div class="col-lg-6">
            <div class="card home-cards">
          		<p class="countPoint">4</p>
		    	<div class="card-block p-2">
                    <p class="slider-heading pb-1 mb-0"><img src="https://cdn.policyx.com/images/convenience.webp" class="img-fluid" alt="Convenience" width="32" height="32"> Convenience</p>
                    <p class="list-p">Recorded Lines - No Misselling - Know your Advisor</p>
                    <p class="list-p">IRDAI Approved - India's #1 Web Aggregator</p>
                    <p class="list-p">Google 4.5*+ Rating, 80%+ Repeat Customers</p>
		    	</div>
		    </div>
        </div>
        <div class="col-lg-6">
            <div class="card home-cards">
          		<p class="countPoint">5</p>
		    	<div class="card-block p-2">
                    <p class="slider-heading pb-1 mb-0"><img src="https://cdn.policyx.com/images/support.webp" class="img-fluid" alt="Support" width="32" height="32"> Support</p>
                    <p class="list-p">Recorded Lines - No Misselling - Know your Advisor</p>
                    <p class="list-p">IRDAI Approved - India's #1 Web Aggregator</p>
                    <p class="list-p">Google 4.5*+ Rating, 80%+ Repeat Customers</p>
		    	</div>
		    </div>
        </div>
</section>
 

