@import 'bootstrap/dist/css/bootstrap';

body {
    background-color: lightgrey;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar strong{
   color:#6969b5;
   
}

// .nav-link{
//     font-size: 16px;
//     color: black;
// }

.welcome-text{
    color: #253858;
    font-size: 45px;
    line-height: 54px;
    font-weight: 300;
    margin-top: 100px;
}

.welcome-image img{
    border-radius: 20px;
    height: 350px;
}

.chat-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #6969b5;
    border-radius: 40px;
    display: flex;
    color:white;
    justify-content: center;
    justify-items: center;
    margin: 0;
    display: flex;
    align-items: center;
    z-index: 5;
}

.chat-button p{
    font-weight: bold;
    margin: 10px;
}

.chat-button .material-icons{
    margin-right: 0;
}

.mini-text-1{
    color: #253858;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    font-weight: 400;
}

.mini-text-2{
    color: #FF9B2C;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    font-weight: 400;
}

.material-icons{
    margin: 10px;    
}

.card-body{
    display: grid;
    text-align: center;
}

// .signup-form-container{
//     // background-image: url("signup.jpg");
//     // background-size: cover;    
    
// }
.signup-image img{
    height: 450px;
    margin: 100px 20px;
    border-radius: 100px;
}
.already-login{
    display: flex;
    margin-top: 10px;
}
.login-form{
    // border: 1px solid blue;
    padding: 25px;
    // box-shadow: -28px -7px 48px -10px;
    border-radius: 20px;
}
.login-img img{
    height: 400px;
    border-radius: 30px;
}

.omniauth-styling{
    display: flex;
}

.omniauth-styling a{
    margin: 0 20px;
}


// Sidebar

.sidebar{
    width: 280px;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 12%;
}

.admin-main-content{
    display: flex;
}

.sidebar-icon{
    display: flex;
}

.user-container{
    background: whitesmoke;
    border-radius: 25px;
    box-shadow: 0 0.5rem 1rem rgba(7, 31, 3, 1) !important;
}

.policy-heading{
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
}

.company-table{
    // border: 2px solid black;
    width: 100%;
    background: cornsilk;
}

.company-show{
    border: 1px solid black;
    background: antiquewhite;
}

.profile-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.policy-images{
    height: 170px;
}
.company-show-button{
    display:flex;
}
.company-show-button p a{
    margin-left: 0;
    margin-right: 5px;
}

.policy-please-divider{
    background: #f95d2e;
    height: 1px;
    position: relative;
}
.product-heading{
    width: 100%;
    height: 1px;
    z-index: 1;
    background-color: #f95d2e;
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.product-heading p {
    width: 230px;
    display: block;
    z-index: 2;
    text-align: center;
    background: #f95d2e;
    color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    padding: 2px 5px 4px;
    top: -15px;
}

.home-cards{
    border-right: 5px solid #23a5c9;
    border-bottom: 1px solid #f95d2e;
    border-radius: 0px;
    margin-top: 10px;
}

.countPoint {
    position: absolute;
    font-size: 112px;
    left: 0px;
    top: -35px;
    color: #eff2f2;
    z-index: 1;
    font-weight: 600;
    margin-left:20px;
  }
.card-block {
    margin-left: auto;
}

.card-block .slider-heading{
    // margin-left: 70%;
    font-size: 16px;
}
.card-block .list-p{
    font-size: 12px;
    margin: 0;
}
.card-section-second{
    width: 66%;
    margin: auto;
}

.card-section-first{
    width: 90%;
    margin: auto;
}

//Pagination

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em; }
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #ff0084; }
    .flickr_pagination a {
      border: 1px solid #dddddd;
      color: #0063dc;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: #003366;
        background: #0063dc;
        color: white; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }