@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: #d0eff2;
    font-family: sans-serif;
    // background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}
.navbar{
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #d0eff2;
  
}
//car insurance form 

.login-box {
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    // color: #03e9f4;
    color: white;
    // font-size: 12px;
  }
  
  .login-box form a {
    // position: relative;
    // display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
.pankaj-photo{
  margin:100px 0;
}


//////////////////


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar strong{
   color:#2A265F;
   
}

// .nav-link{
//     font-size: 16px;
//     color: black;
// }

.car-insurance-form-image{
    margin: 100px 0;
}

.welcome-text{
    color: #253858;
    font-size: 45px;
    line-height: 54px;
    font-weight: 300;
    margin-top: 100px;
}

.welcome-image img{
    border-radius: 20px;
    height: 350px;
}

.chat-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #2A265F;
    border-radius: 40px;
    display: flex;
    color:white;
    justify-content: center;
    justify-items: center;
    margin: 0;
    display: flex;
    align-items: center;
    z-index: 5;
}

.chat-button p{
    font-weight: bold;
    margin: 10px;
}

.chat-button .material-icons{
    margin-right: 0;
}

.mini-text-1{
    color: #253858;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    font-weight: 400;
}

.mini-text-2{
    color: #FF9B2C;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    font-weight: 400;
}

.material-icons{
    margin: 10px;    
}

.card-body{
    display: grid;
    text-align: center;
}

.signup-box{
    // background-image: url("signup.jpg");
    // background-size: cover;
    // border:1px solid black;   
    padding: 40px; 
    box-shadow: 5px 23px 18px 9px;
    border-radius: 10px;
    background: white;
    
}
.signup-image img{
    height: 450px;
    margin: 100px 20px;
    border-radius: 100px;
}
.already-login{
    display: flex;
    margin-top: 10px;
}
.login-container{
    // border:1px solid black;   
    padding: 40px; 
    box-shadow: 5px 23px 18px 9px;
    border-radius: 10px;
    background: white;

}
.login-form{
    // border: 1px solid blue;
    padding: 25px;
    // box-shadow: -28px -7px 48px -10px;
    border-radius: 20px;
}
.login-img img{
    height: 500px;
    border-radius: 30px;
}

.omniauth-styling{
    display: flex;
}

.omniauth-styling a{
    margin: 0 20px;
    margin-left: 0;
}
.otp-form{
    border: 1px solid black;
    padding: 20px;
    width: fit-content;
    background: white;
    margin: auto;
}


// Sidebar

.sidebar{
    width: 240px;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 12%;
}

.admin-dashboard{
    display: flex;
    // border: 1px solid black;
}
.admin-sidebar{
  // border: 1px solid red;
  width: 270px;
}
// .admin-row{
//   margin: 0 20px;
// }
.sidebar-icon{
    display: flex;
}

.user-container{
    background: whitesmoke;
    border-radius: 25px;
    box-shadow: 0 0.5rem 1rem rgba(7, 31, 3, 1) !important;
}

.policy-heading{
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    // background-color: white;
}

.company-table{
    // border: 2px solid black;
    width: 100%;
    background: white;
}

.company-table tbody tr{
    height:150px;
}

.company-table thead tr th {
    vertical-align: center;    
    // display: flex;
}


.company-table tbody tr p{
    margin-top:50px;
    font-weight: bold;
}
.company-table tbody tr img{
    height: 150px;
    padding: 20px;
}

.company-show{
  background-color:#dbe7ea;
  width: 70%;
  padding: 20px;
  box-shadow: 18px 31px 5px -3px;
  border: 2px solid #dedee8;
}

.profile-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.policy-images{
    height: 170px;
}
.company-show-button{
    display:flex;
}
.company-show-button p a{
    margin-left: 0;
    margin-right: 5px;
}

.policy-please-divider{
    background: #f95d2e;
    height: 1px;
    position: relative;
}
.product-heading{
    width: 100%;
    height: 1px;
    z-index: 1;
    background-color: #f95d2e;
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.product-heading p {
    width: 230px;
    display: block;
    z-index: 2;
    text-align: center;
    background: #f95d2e;
    color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    padding: 2px 5px 4px;
    top: -15px;
}

.home-cards{
    border-right: 5px solid #23a5c9;
    border-bottom: 1px solid #f95d2e;
    border-radius: 0px;
    margin-top: 10px;
}

.countPoint {
    position: absolute;
    font-size: 112px;
    left: 0px;
    top: -30px;
    color: #eff2f2;
    z-index: 1;
    font-weight: 600;
    
  }
.card-block {
    margin-left: auto;
}

.card-block .slider-heading{
    // margin-left: 70%;
    font-size: 16px;
}
.card-block .list-p{
    font-size: 12px;
    margin: 0;
}
.card-section-second{
    width: 66%;
    margin: auto;
}

.card-section-first{
    width: 90%;
    margin: auto;
}

//Pagination

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em; }
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #ff0084; }
    .flickr_pagination a {
      border: 1px solid #dddddd;
      color: #0063dc;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: #003366;
        background: #0063dc;
        color: white; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }

//otp form styling
.otp-link{
    border: 1px solid blue;
    padding: 5px;
    text-decoration: none;
}

//forgot-password
.forgot-password{
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
    background: whitesmoke;
}

.life-insurance-form{
    height: 400px;
}

.renew-in-2-minutes{
    margin: 20px 170px;
}

//Invoice mailer
.invoice-table {
  border: 1px solid black;
  width: fit-content;
  margin: auto;
  height: 200px;
}

.error{
  color: red;
}

//Company card show page


.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	// max-width: 100%;
	margin: auto;
	overflow: hidden;
	width: 1000px;
  height: 250px;

}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	// max-width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}
.card-buttons{
  display:flex;
  margin-top: 50px;
}
.buy-button{
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	// position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
  margin: 10px;
  margin-left: 0;
  text-decoration: none;
}

////////////////////////