<div class="container policy-heading">

<h1>
  <%= @policy.title %>
</h1>

<p>
  <%= @policy.description %>
</p>
</div>
<div class="container company-section">
  <%= render 'companies/companies'%>
  <div class="flickr_pagination">
        <%= will_paginate @companies, :container => false %>
  </div>
</div>


<%#= link_to 'Edit', edit_policy_path(@policy) %>
<%#= link_to 'Back', root_path %>
