
<p>
  <strong>Title:</strong>
  <%= @policy.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @policy.description %>
</p>

<div class="company-section">
  <%= render 'companies/companies'%>
</div>


<%#= link_to 'Edit', edit_policy_path(@policy) %>
<%#= link_to 'Back', root_path %>
