<div class="container policy-heading">
<h1>
  <%#= image_tag(@policy.image) %>
</h1>
<h1>
  <%= @policy.title %>
</h1>

<p>
  <%= @policy.description %>
</p>
</div>
<div class="company-section">
  <%= render 'companies/companies'%>
</div>


<%#= link_to 'Edit', edit_policy_path(@policy) %>
<%#= link_to 'Back', root_path %>
