

<p>
  <strong>Title:</strong>
  <%= @policy.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @policy.description %>
</p>

<%= link_to 'Edit', edit_policy_path(@policy) %> |
<%= link_to 'Back', policies_path %>
